@import url('https://fonts.googleapis.com/css?family=Noto+Serif|Roboto');
body {
  text-align: center;
  background-color: #1E3628;
  color: white;
  font-family: Roboto, sans-serif;
}

h1 {
  font-size: 3em;
  font-family: 'Noto Serif', sans-serif;
}

.box {
  width: 100px;
  display: table;
  white-space:  pre-wrap;
}

.container {
  position: relative;
  text-align: center;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hidden {
  display: none;
}

#question {
  margin: 20px 0;
  height: 25px;
  width: 250px;
  font-size: 1.1em;
  font-family: Roboto, sans-serif;
}

#question-label {
  font-size: 1.5em;
}

#submit {
  width: 80px;
  height: 30px;
  background-color: white;
}

@media only screen and (max-width: 600px) {
  img {
    width: 400px;
    height: 400px
  }

  .box {
    width: 75px;
  }
}

@media only screen and (max-width: 450px) {
  img {
    width: 300px;
    height: 300px
  }

  h1 {
    margin-top: 10px;
  }

  .box {
    width: 50px;
    font-size: .8em;
  }
}